@{ ViewBag.Title = "Access denied"; }

<div class="page-content-inner">

    <div class="page-title">
        <h1>
            RESTRICTED AREA
        </h1>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h4 style="color:red;">You dont have permission to this page...</h4>
        </div>
        <div class="col-md-12">
            <h5>Or this page didnt developed yet.</h5>
        </div>
    </div>
</div>